$primaryColor: #333;
$secondaryColor: #666;
$thirdlyColor: #999;

$primaryFont : "Segoe UI", Arial, sans-serif;
$secondaryFont : 'Open Sans', Arial, sans-serif;
$thirdlyFont : 'MyriadPro', Arial, sans-serif;