/* banner */
.banner{
	overflow: hidden;
	position: relative;
	background-color: #f7f7f7;
	&__bg{
		position: absolute;
		width: 1770px;
		left: 50%;
		height: 100%;
		top: 0;
		margin-left: -885px;
	}
	&__wrapper{
		padding: 75px 20px;
		min-height: 550px;
		position: relative;
		margin: 0 auto;
		max-width: 990px;
		box-sizing: content-box;
	}
	&__container{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	&__title{
		margin: 0 0 20px;
		max-width: 450px;
		color: #47525d;
		font-size: 47.25px;
		font-weight: 300;
		line-height: 1.3;
	}
	&__subtitle{
		max-width: 404px;
		font-weight: 300;
		color: #47525d;
		font-size: 21px;
		padding-bottom: 20px;
		line-height: 1.5;
		margin:0 0 30px;
	}
	&__btn{
		margin-bottom: 16px;
		min-width: 0;
		min-height: 0;
		padding: 19px 26px;
		font-size: 21px;
		line-height: 21px;
		background: #0071e0;
		color: #fff;
		display: block;
		text-align: center;
		border-radius: 6px;
		border: none;
		&:hover{
			text-decoration: none;
			color: #fff;
			background: #3398ea;
		}
		&:focus{
			background-color: darken(#3398ea, 15);
			text-decoration: none;
			color: #fff;
		}
	}
	&__purchase{
		font-size: 16px;
		color: #47525d;
	}
	&__link{
		margin-left: 4px;
		color: #0071e0;
		border-bottom: 1px solid #0071e0;
		&:hover,
		&:focus{
			color: #3398ea;
			text-decoration: none;
		}
	}
}

/* sign-up */
.sign-up{
	padding: 160px 0 145px;
	text-align: center;
	background: #323a45;
	&__title{
		margin: 0 0 53px;
		padding: 0 20px;
		line-height: 1.8;
		font-size: 30px;
		font-weight: lighter;
		color: #fff;
		letter-spacing: -0.5px;
	}
	&__form{
		margin-bottom: 31px;
		display: inline-block;
		font-size: 0;
	}
	&__fieldsets{
		display: inline-block;
	}
	&__fieldset{
		position: relative;
		float: left;
	}
	&__icon{
		font-size: 22px;
		color: #C4CACE;
		position: absolute;
		top: 18px;
		left: 15px;
	}
	&__input{
		width: 278px;
		font-size: 18px;
		height: 63px;
		border: 1px solid #d4d7da;
		line-height: 1em;
		border-radius: 3px;
		padding: 18px 15px 18px 50px;
		margin-right: 10px;
		&.placeholder{
			color: #8a959e;
			transition: opacity .35s ease-out;
		}

		&:-moz-placeholder{
			color: #8a959e;
			transition: opacity .35s ease-out;
		}
		  
		&::-webkit-input-placeholder{
			color: #8a959e;
			transition: opacity .35s ease-out;
		}

		&:-ms-input-placeholder{
			color: #8a959e;
			transition: opacity .35s ease-out;
		}
		&:focus{
			outline: none;
			&.placeholder{
				opacity: 0.5;
			}

			&:-moz-placeholder{
				opacity: 0.5;
			}
			  
			&::-webkit-input-placeholder{
				opacity: 0.5;
			}

			&:-ms-input-placeholder{
				opacity: 0.5;
			}
		}
	}
	&__btn{
		display: inline-block;
	}
	&__submit{
		float: left;
		padding: 20px 40px;
		font-weight: bold;
		border: none;
		border-radius: 5px;
		line-height: 1em;
		font-size: 15px;
		text-transform: uppercase;
		color: #fff;
		background: #ff3366;
		transition: background-color 0.3s;
		height: 62px;
		&:hover{
			background-color: #f42156;
		}
		&:active{
			outline: none;
			background-color: darken(#f42156, 15);
			transition: background-color 0s ease-out;
		}
		&:focus{
			outline: none;
		}
	}
	&__terms{
		margin-bottom: 0;
		padding: 0 20px;
		font-size: 12px;
		color: #747c83;
		line-height: 2;
	}
	&__link{
		color: #747c83;
		text-decoration: underline;
		&:hover,
		&:focus{
			color: #fff;
		}
	}
}

/* propositions */
.block-wrap{
	overflow: hidden;
	padding: 0;
}
.webp{
	.block{
		&__pad{
			&--primary{
				background: transparent url('../images/components/oculus_img1.webp')center center no-repeat;
			}
			&--secondary{
				background: transparent url('../images/components/oculus_img2.webp')center center no-repeat;
			}
			&--thirdly{
				background: transparent url('../images/components/oculus_img3.webp')center center no-repeat;
			}
		}
		&__pad{
			background-size: cover;
		}
	}
}
.no-webp{
	.block{
		&__pad{
			&--primary{
				background: transparent url('../images/components/oculus_img1.jpg')center center no-repeat;
			}
			&--secondary{
				background: transparent url('../images/components/oculus_img2.jpg')center center no-repeat;
			}
			&--thirdly{
				background: transparent url('../images/components/oculus_img3.jpg')center center no-repeat;
			}
		}
		&__pad{
			background-size: cover;
		}
	}
}
.block{
	display: block;
	background: #282828;
	height: 300px;
	overflow: hidden;
	position: relative;
	text-align: center;
	line-height: 300px;
	position: relative;
	transition: transform 250ms;

	&:hover{
		.block__pad{
			opacity: .8;
			transform: scale(1.1, 1.1);
		}
	}
	&__pad{
		display: block;
		opacity: .3;
		height: 300px;
		transition: transform .3s, opacity .3s;
	}
	&__title{
		color: #a4a5a6;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 2px;
		line-height: 16px;
		text-transform: uppercase;
	}
	&__subtitle{
		color: #fff;
		font-size: 22px;
		font-weight: 600;
		line-height: 28px;
	}
	&__text{
		position: absolute;
		z-index: 1;
		top:50%;
		width: 100%;
		padding: 0 32px;
		transform: translate(0, -50%);
	}
}
