.pseudoheader
.banner
	.banner__bg.clearfix
	.banner__wrapper
		.banner__container
			h1.banner__title Безопасный доступ, синхронизация и совместная работа
			h2.banner__subtitle Хранение и безопасный доступ к данным — аккаунты Dropbox Business пользуются доверием у системных администраторов и нравятся пользователям.
			.banner__btn-wrap
				a(href="#").banner__btn Попробуйте бесплатную 30-дневную ознакомительную версию
			span.banner__purchase
				|или
				a(href="#").banner__link купите прямо сейчас