section.propositions.clearfix
	.block-wrap.col-sm-4
		a(href="#").block
			.block__pad.block__pad--primary
			.block__text
				p.block__title featured content
				p.block__subtitle EVE: Valkyrie
	.block-wrap.col-sm-4
		a(href="#").block
			.block__pad.block__pad--secondary
			.block__text
				p.block__title included with all rift purchases
				p.block__subtitle Lucky's Tale
	.block-wrap.col-sm-4
		a(href="#").block
			.block__pad.block__pad--thirdly
			.block__text
				p.block__title featured story
				p.block__subtitle Over 30 Full Games Launching with Oculus Touch this Year
