// Footer block
footer.footer
	.footer-wrap
		.columns.clearfix
			.column
				.column__section
					h3.column__subtitle Shop and Learn
					ul.column__list
						li.column__item
							a(href="#").column__link Mac
						li.column__item
							a(href="#").column__link iPad
						li.column__item
							a(href="#").column__link iPhone
						li.column__item
							a(href="#").column__link Watch
						li.column__item
							a(href="#").column__link TV
						li.column__item
							a(href="#").column__link Music
						li.column__item
							a(href="#").column__link iTunes
						li.column__item
							a(href="#").column__link iPod
						li.column__item
							a(href="#").column__link Accessories
						li.column__item
							a(href="#").column__link Gift Cards
			.column
				.column__section
					h3.column__subtitle Apple Store
					ul.column__list
						li.column__item
							a(href="#").column__link Find a Store
						li.column__item
							a(href="#").column__link Genius Bar
						li.column__item
							a(href="#").column__link Workshops and Learning
						li.column__item
							a(href="#").column__link Youth Programs
						li.column__item
							a(href="#").column__link Apple Store App
						li.column__item
							a(href="#").column__link Refurbished
						li.column__item
							a(href="#").column__link Financing
						li.column__item
							a(href="#").column__link Reuse and Recycling
						li.column__item
							a(href="#").column__link Order Status
						li.column__item
							a(href="#").column__link Shopping Help
			.column
				.column__section
					h3.column__subtitle For Education
					ul.column__list
						li.column__item
							a(href="#").column__link Apple and Education
						li.column__item
							a(href="#").column__link Shop for College
				.column__section
					h3.column__subtitle For Business
					ul.column__list
						li.column__item
							a(href="#").column__link Apple and Business
						li.column__item
							a(href="#").column__link Shop for Business
			.column
				.column__section
					h3.column__subtitle Account
					ul.column__list
						li.column__item
							a(href="#").column__link Manage Your Apple ID
						li.column__item
							a(href="#").column__link Apple Store Account
						li.column__item
							a(href="#").column__link iCloud.com
				.column__section
					h3.column__subtitle Apple Values
					ul.column__list
						li.column__item
							a(href="#").column__link Accessibility
						li.column__item
							a(href="#").column__link Education
						li.column__item
							a(href="#").column__link Environment
						li.column__item
							a(href="#").column__link Inclusion and Diversity
						li.column__item
							a(href="#").column__link Privacy
						li.column__item
							a(href="#").column__link Supplier Responsibility
			.column
				.column__section
					h3.column__subtitle About Apple
					ul.column__list
						li.column__item
							a(href="#").column__link Apple Info
						li.column__item
							a(href="#").column__link Newsroom
						li.column__item
							a(href="#").column__link Job Opportunities
						li.column__item
							a(href="#").column__link Press Info
						li.column__item
							a(href="#").column__link Investors
						li.column__item
							a(href="#").column__link Events
						li.column__item
							a(href="#").column__link Contact Apple
		.basement.clearfix
			p.basement__headline
				|More ways to shop: Visit an 
				a(href="").basement__link Apple Store,
				span.nowrap 
					|call 1-800-MY-APPLE, or 
					a(href="").basement__link find a reseller.
			a(href="#").basement__country United States
			p.basement__rights Copyright © 2016 Apple Inc. All rights reserved.
			nav.basement__nav
				ul.basement__list
					li.basement__elem
						a.basement__nav-link(href="#") Privacy Policy
					li.basement__elem
						a.basement__nav-link(href="#") Terms of Use
					li.basement__elem
						a.basement__nav-link(href="#") Sales and Refunds
					li.basement__elem
						a.basement__nav-link(href="#") Legal
					li.basement__elem
						a.basement__nav-link(href="#") Site Map

// jQuery 1.10.1
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
//webp support detect
script(src="external/webp_detect/webp_detect.js")
// application
script(src="js/application.js")
<!--[if lte IE 9]>
script(src="external/placeholder-fix/placeholder-fix.js")
<![endif]-->