//Header block
header.header
	.header__wrap.clearfix
		a(href="#").logo
			img(src="images/components/microsoft_logo.png", alt="logo").logo__media
		nav.nav
			ul.nav__list
				li.nav__elem
					a.nav__link.nav__link--dropdown.nav__link--primary(href="javascript:void(0)") Store
					.dropdown
						dl.dropdown__definition-list
							dt.dropdown__title
								a(href="javascript:void(0)").dropdown__title-link Software & services
									i.dropdown__icon.icon-down-button
								dd.dropdown__definition
									ul.dropdown__list
										li.dropdown__item
											a(href="#").dropdown__link Windows
										li.dropdown__item
											a(href="#").dropdown__link Office
										li.dropdown__item
											a(href="#").dropdown__link Free downloads & security
										li.dropdown__item
											a(href="#").dropdown__link Internet Explorer
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Edge
										li.dropdown__item
											a(href="#").dropdown__link Skype
										li.dropdown__item
											a(href="#").dropdown__link OneNote
										li.dropdown__item
											a(href="#").dropdown__link OneDrive
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Health
										li.dropdown__item
											a(href="#").dropdown__link MSN
										li.dropdown__item
											a(href="#").dropdown__link Bing
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Groove
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Films & TV
						dl.dropdown__definition-list
							dt.dropdown__title
								a(href="javascript:void(0)").dropdown__title-link Devices & Xbox
									i.dropdown__icon.icon-down-button
								dd.dropdown__definition
									ul.dropdown__list
										li.dropdown__item
											a(href="#").dropdown__link All Microsoft devices
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Surface
										li.dropdown__item
											a(href="#").dropdown__link All Windows PCs & tablets
										li.dropdown__item
											a(href="#").dropdown__link PC Accessories
										li.dropdown__item
											a(href="#").dropdown__link Xbox & games
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Band
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Lumia
						dl.dropdown__definition-list
							dt.dropdown__title
								a(href="javascript:void(0)").dropdown__title-link For business
									i.dropdown__icon.icon-down-button
								dd.dropdown__definition
									ul.dropdown__list
										li.dropdown__item
											a(href="#").dropdown__link Cloud platform
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Azure
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Dynamics
										li.dropdown__item
											a(href="#").dropdown__link Windows for business
										li.dropdown__item
											a(href="#").dropdown__link Office for Business
										li.dropdown__item
											a(href="#").dropdown__link Skype for Business
										li.dropdown__item
											a(href="#").dropdown__link Surface for business
										li.dropdown__item
											a(href="#").dropdown__link Enterprise solutions
										li.dropdown__item
											a(href="#").dropdown__link Small business solutions
										li.dropdown__item
											a(href="#").dropdown__link Find a solutions provider
										li.dropdown__item
											a(href="#").dropdown__link Volume Licensing
						dl.dropdown__definition-list
							dt.dropdown__title
								a(href="javascript:void(0)").dropdown__title-link For developers & IT pros
									i.dropdown__icon.icon-down-button
								dd.dropdown__definition
									ul.dropdown__list
										li.dropdown__item
											a(href="#").dropdown__link Develop Windows apps
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Azure
										li.dropdown__item
											a(href="#").dropdown__link MSDN
										li.dropdown__item
											a(href="#").dropdown__link Technet
										li.dropdown__item
											a(href="#").dropdown__link Visual Studio
						dl.dropdown__definition-list
							dt.dropdown__title
								a(href="javascript:void(0)").dropdown__title-link For students & educators
									i.dropdown__icon.icon-down-button
								dd.dropdown__definition
									ul.dropdown__list
										li.dropdown__item
											a(href="#").dropdown__link Shop PCs & tablets perfect for students
										li.dropdown__item
											a(href="#").dropdown__link Microsoft in Education

				li.nav__elem
					a.nav__link.nav__link--dropdown.nav__link--secondary(href="javascript:void(0)") Products
					.dropdown
						dl.dropdown__definition-list
							dt.dropdown__title
								a(href="javascript:void(0)").dropdown__title-link Software & services
									i.dropdown__icon.icon-down-button
								dd.dropdown__definition
									ul.dropdown__list
										li.dropdown__item
											a(href="#").dropdown__link Windows
										li.dropdown__item
											a(href="#").dropdown__link Office
										li.dropdown__item
											a(href="#").dropdown__link Free downloads & security
										li.dropdown__item
											a(href="#").dropdown__link Internet Explorer
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Edge
										li.dropdown__item
											a(href="#").dropdown__link Skype
										li.dropdown__item
											a(href="#").dropdown__link OneNote
										li.dropdown__item
											a(href="#").dropdown__link OneDrive
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Health
										li.dropdown__item
											a(href="#").dropdown__link MSN
										li.dropdown__item
											a(href="#").dropdown__link Bing
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Groove
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Films & TV
						dl.dropdown__definition-list
							dt.dropdown__title
								a(href="javascript:void(0)").dropdown__title-link Devices & Xbox
									i.dropdown__icon.icon-down-button
								dd.dropdown__definition
									ul.dropdown__list
										li.dropdown__item
											a(href="#").dropdown__link All Microsoft devices
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Surface
										li.dropdown__item
											a(href="#").dropdown__link All Windows PCs & tablets
										li.dropdown__item
											a(href="#").dropdown__link PC Accessories
										li.dropdown__item
											a(href="#").dropdown__link Xbox & games
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Band
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Lumia
						dl.dropdown__definition-list
							dt.dropdown__title
								a(href="javascript:void(0)").dropdown__title-link For business
									i.dropdown__icon.icon-down-button
								dd.dropdown__definition
									ul.dropdown__list
										li.dropdown__item
											a(href="#").dropdown__link Cloud platform
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Azure
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Dynamics
										li.dropdown__item
											a(href="#").dropdown__link Windows for business
										li.dropdown__item
											a(href="#").dropdown__link Office for Business
										li.dropdown__item
											a(href="#").dropdown__link Skype for Business
										li.dropdown__item
											a(href="#").dropdown__link Surface for business
										li.dropdown__item
											a(href="#").dropdown__link Enterprise solutions
										li.dropdown__item
											a(href="#").dropdown__link Small business solutions
										li.dropdown__item
											a(href="#").dropdown__link Find a solutions provider
										li.dropdown__item
											a(href="#").dropdown__link Volume Licensing
						dl.dropdown__definition-list
							dt.dropdown__title
								a(href="javascript:void(0)").dropdown__title-link For developers & IT pros
									i.dropdown__icon.icon-down-button
								dd.dropdown__definition
									ul.dropdown__list
										li.dropdown__item
											a(href="#").dropdown__link Develop Windows apps
										li.dropdown__item
											a(href="#").dropdown__link Microsoft Azure
										li.dropdown__item
											a(href="#").dropdown__link MSDN
										li.dropdown__item
											a(href="#").dropdown__link Technet
										li.dropdown__item
											a(href="#").dropdown__link Visual Studio
						dl.dropdown__definition-list
							dt.dropdown__title
								a(href="javascript:void(0)").dropdown__title-link For students & educators
									i.dropdown__icon.icon-down-button
								dd.dropdown__definition
									ul.dropdown__list
										li.dropdown__item
											a(href="#").dropdown__link Shop PCs & tablets perfect for students
										li.dropdown__item
											a(href="#").dropdown__link Microsoft in Education
				li.nav__elem
					a.nav__link(href="#") Support
		a(href="#").auth
			| Sign in
		.nav-icon
			.nav-icon__wrap
				span
				span
				span
				span
		a(href="#").cart
			i.cart__icon.icon-shopping-cart
			span.cart__amount 0
		i.search-toggle.icon-magnifier.pull-right.visible-xs.visible-sm
		.form-wrap
			form(action="").form-search
				.form-search__inner-wrap
					input(type="text", placeholder="Search Microsoft.com").form-search__input
					.form-search__submit-wrap
						input(type="submit", value="").form-search__submit
						i.form-search__icon.icon-magnifier